/*Commentaires*/


html * {
  box-sizing: border-box;
}

.All_images{
  display: flex;
justify-content: center;
flex-wrap: wrap;
max-width: 90%;
margin: auto;
}


.colonne{
  flex: 1 0 20%;

}

.image{
  padding: 30px;
position: relative;
}



.image_vignette{
  max-width: 100%;
height: auto;
}

.choix{
  cursor: pointer;
}

/*Pages images*/

.texte{
  width: 30%;
max-width: 400px;
margin: 20px;
}

.imageseule{
  max-height: 100vh;

}

.defilement{
  display: flex;
  flex-direction: column ;
  margin: auto;

}

.image_defilement{
  max-width: 100px;
  padding: 10px;
}
.ensemble{
display: flex;
align-items: center;
}
