/*Commentaires*/


html * {
    box-sizing: border-box;
}

.All_images{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    max-width: 90%;
/*margin: auto;*/
}

.colonne{
    flex: 0 0 20%;

}

.image{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}



.index_thumbnail{
    max-width: 100%;
    height: auto;
    border: 1px solid red;
}



.choix{
    cursor: pointer;
}

/*Pages images*/

.texte{
    width: 30%;
    max-width: 400px;
    margin: 20px;
}

.imageseule{
    max-height: 100vh;

}

.defilement{
    display: flex;
    flex-direction: column ;
    margin: auto;

}

.image_defilement{
    max-width: 100px;
    padding: 10px;
}
.ensemble{
    display: flex;
    align-items: center;
}


/*************************/
.hidden_secret{
    display: none;
}

.hidden_essai{
    display: none;
}


.hidden_imaginaire{
    display: none;
}

.hidden_avenir{
    display: none;
}

.hidden_enfance{
    display: none;
}

.hidden_ciel{
    display: none;
}

.hidden_histoire{
    display: none;
}

.hidden_monde{
    display: none;
}

.hidden_aventure{
    display: none;
}

.hidden_etrange{
    display: none;
}

.hidden_vrai{
    display: none;
}



div.legende_image{
    display:none;
}

p.hidden_categ{
    display:none;
}


@media screen and (max-width: 1000px)  {
  .Projets_groupe_colonne {
    flex: 0 0 25%;
}
}

@media screen and (max-width: 700px)  {
  .Projets_groupe_colonne {
    flex: 0 0 33%;
}
}

@media screen and (max-width: 550px)  {
  .Projets_groupe_colonne {
    flex: 0 0 50%;
}
}

@media screen and (max-width: 400px)  {
  .Projets_groupe_colonne {
    flex: 0 0 100%;
}
}
